**/.*.swp
**/.*.un*
**/*.exe
**/cscope.*
**/tags
.clangd/*
build/*
compile_commands.json
compile_flags.json
Debug/**/*.*
.ccls
.ccls-cache
.vscode/*.*
**/CMakeCache.txt
**/CMakeFiles/**/*
**/*.cmake
**/*.dll*
**/Makefile
**/*.*~
typings/*
**/*.dat
**/tags
**/cscope.*
**/.cache
a.obj
